services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: ${DB__NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api-gateway:
    container_name: api_gateway
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      IDENTITY__HOST: identity
    ports:
      - "${API_GATEWAY__PORT}:${API_GATEWAY__PORT}"
    depends_on:
      - postgres

  identity:
    container_name: identity
    build:
      context: .
      dockerfile: ./apps/identity/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data: